/* Foreground Colors */
@define-color fg #e4e4e4;
@define-color fg-plus-1 #f4f4ff;
@define-color fg-plus-2 #f5f5f5;

/* Basic Colors */
@define-color white #ffffff;
@define-color black #000000;

/* Background Colors */
@define-color bg-minus-1 #101010;
/* @define-color bg #181818; */
@define-color bg rgba(24, 24, 24, 0.5);
@define-color bg-plus-1 #282828;
@define-color bg-plus-2 #453d41;
@define-color bg-plus-3 #484848;
@define-color bg-plus-4 #52494e;

/* Red Shades */
@define-color red-minus-1 #c73c3f;
@define-color red #f43841;
@define-color red-plus-1 #ff4f58;

/* Other Colors */
@define-color green #73d936;
@define-color yellow #ffdd33;
@define-color brown #cc8c3c;
@define-color quartz #95a99f;

/* Niagara Colors */
@define-color niagara-minus-2 #303540;
@define-color niagara-minus-1 #565f73;
@define-color niagara #96a6c8;

/* Additional Colors */
@define-color wisteria #9e95c7;

* {
    transition: none;
    box-shadow: none;
}

#waybar {
    font-family: "Noto Sans", "Font Awesome v4 Compatibility Regular", "Ubuntu Nerd Font Propo";
    font-size: 1.2em;
    font-weight: 400;
    color: @fg;
    background: @bg;
}

#workspaces {
    margin: 4px 0px;
    border-radius: 4px;
    background-color: @bg-plus-2;
}

#workspaces button {
    font-weight: 600;
    padding: 0 6px;
    border-right: 1px solid @bg;
    border-left: 1px solid @bg;
    border-radius: 0;
    color: @yellow;
}

#workspaces button.active {
    background-color: @niagara-minus-1;
}

#workspaces button.urgent {
    color: @red;
}

#workspaces button.empty {
    color: @fg;
    font-weight: 300;
}

#workspaces button:first-child {
    border-left: none;
}

#workspaces button:last-child {
    border-right: none;
}

#workspaces button:hover {}

#tray {
    margin: 4px 0px;
    border-radius: 4px;
    background-color: @bg-plus-2;
}

#tray .active,
#tray .active>* {
    padding: 0 6px;
    border-left: 1px solid @bg;
    border-right: 1px solid @bg;
}

#tray .active:first-child,
#tray .active>*:first-child {
    border-left: none;
}

#tray .active:last-child,
#tray .active>*:last-child {
    border-right: none;
}


#idle_inhibitor,
#mode,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#backlight,
#custom-storage,
#custom-updates,
#custom-weather,
#custom-mail,
#custom-protonmail,
#custom-power_icon,
#custom-shutdown,
#custom-reboot,
#custom-suspend,
#custom-lock,
#clock,
#temperature,
#custom-notifications,
#language {
    margin: 4px 0px;
    padding: 0 6px;
    background-color: @bg-plus-2;
    border-radius: 4px;
    min-width: 20px;
}

#custom-notifications.notification,
#custom-notifications.dnd-notification,
#custom-notifications.inhibited-notification,
#custom-notifications.dnd-inhibited-notification {
    color: @yellow;
    font-weight: 600;
}

#pulseaudio.output.muted {
    color: @red;
}

#pulseaudio.input.source-muted {
    color: @red;
}

#clock {
    margin-left: 0px;
    margin-right: 4px;
    /* background-color: transparent; */
}

#window {
    font-size: 0.9em;
    font-weight: 400;
}

#language {
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: -1px;
}

#battery.charging,
#battery.good {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @brown;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: @red;
    }
}

#submap {
    color: @red;
}

#custom-schedule {
    color: @green;
}

#custom-screenrec.in_progres {
    color: @red;
}

#mpris {
    color: @wisteria;
}
